<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= name %></title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <header>
        <div class="main">
            <div class="logo">
                <a href="https://nyks.nic.in/">
                    <img src="images/2.png" alt="logo">
                </a>

            </div>

            <ul>
                <!-- <li><img src="2.png" alt="logo" id=logo></li> -->
                <li class="active"><a href="/">HOME</a></li>
                <li><a href="https://nyks.nic.in/aboutus/About-nyks.html">ABOUT</a></li>
                <li><a href="/admin/login">ADMIN</a></li>

            </ul>
        </div>

        <div class="title">
            <h1>A single person doesn't change an organization, but culture and good people do.
                Come join us
                </h1>
        </div>

        
        <div class="button">
            <a href="/expert/register" class="btn">Register</a>
            
        </div>
    </header>
</body>
</html>